name: Deploy Glue Job Script

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Upload Glue job script to S3
      run: |
        BUCKET_NAME="lava01"
        S3_PATH="Customer_SCD1JOBS/"

        echo "Uploading Glue job script to S3..."
        aws s3 cp glue-jobs/jobs/my_glue_job.py s3://$BUCKET_NAME/$S3_PATH/my_glue_job.py
        echo "Upload completed successfully!"
